<h1>Thêm Lớp</h1>

<style>
  .input {
    display: block;
    margin: 12px 0;
  }
</style>

<form action="/add" method="POST">
  ma Sinh Vien : <input class="input" type="text" name="maSinhVien" /> ngay Sinh
  : <input class="input" type="text" name="ngaySinh" /> Gioi Tinh :
  <input class="input" type="text" name="gioiTinh" /> que Quan :
  <input class="input" type="text" name="queQuan" />
  <button type="submit">Thêm Sinh Viên</button>
</form>
